{% extends 'base.html' %}

{% block content %}

<!-- Sub-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Delete A Planet</h2>
        </div>
    </div>
    <!-- Shows edit planet form if user is logged in -->
    {% if user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-md-auto p-3 bg-dark bg-opacity-75 text-start border-end border-bottom border-3 border-light">
            <form method="post">

                {% csrf_token %}
                <p>Are you sure you want to delete {{ planet }}?</p>

        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-md-12">
            <button class="btn btn-dark btn-lg mt-1" type="submit" value="Delete">Delete</button>
            <a href="{% url 'planet_list' %}" class="btn btn-dark btn-lg mt-1">Go Back</a>
        </div>
    </div>
    </form>
    <!-- Prompts user to log in or create an account if not logged in -->
    {% else %}
    <div class="row">
        <div class="col justify-content-center text-center">
            <p>Please <a href="{% url 'account_login' %}">log in</a> or <a href="{% url 'account_signup'%}">sign
                    up</a>
                to edit planets!</p>
        </div>
    </div>
    {% endif %}


    {% endblock %}