body {
    background-image: url("../images/background-image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 6vw;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4.5vw;
}

p {
    font-size: 1.5vw;
}

.navbar-nav {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    text-align: right;
}