{% extends 'base.html' %}

{% block content %}
<!-- Header image on home page -->
<div class="header-image text-center">
    <img src="../../../static/images/Normandy_Render.webp" class="img-fluid"
        alt="Image of the Normandy spaceship from Mass Effect 1">
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-6">
            <h2>Hello, Commander Shepard!</h2>
            <p>You're busy saving the galaxy. How could you possibly remember every planet you've visited, and what you
                found there? You've probably ended up going back to the same place a few times, haven't you? Well, we're
                here to help - spoiler-free!</p>
            <p>Sign up now to keep track of each planet as you visit it, record any findings, and keep your own notes as
                you explore the galaxy.</p>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            <h2 class="text-uppercase">Sign Up!</h2>
        </div>
    </div>
</div>

{% endblock %}